.playground {
  height: 100%;
  flex: auto;
}

.terminal {
  height: 35%;
  border-top: 2px solid #ddd;
}

.ant-tabs {
  height: 100%;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
  padding: 0 16px;
  user-select: none;
}

.ant-tabs-content-holder {
  padding: 8px 16px;
  overflow: auto;
}
